@import url('https://fonts.googleapis.com/css?family=Barlow|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
*{
	padding: 0;
	margin:0;
}
html{
	width: 100%;
	height: 100%;
	margin:0 auto;
	background:#000;
}
body{
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 1012px;
	height: 680px;
	position: relative;
	background: url(../img/backg.png) no-repeat #000;
	animation: begin 3s;
}
.content{
	height: 100%;
	width: 81%;
	background: url(../img/bg-menu.png) no-repeat;
	animation: afterBegin 4s;
}
.background-img{
	position: absolute;
	animation:afterBegin 6s;
}
.wrapp-tab,.tab-lobby,.tab-profile{
	display: flex;
}
.tab-lobby,.tab-profile{
	width: 135px;
	height: 30px;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;
}
.tab-lobby h3,.tab-profile h3{
	position:absolute;
	cursor:default;
	font:100 14px Alegreya;
}

.container-background{
	position: absolute;
}
.container-background,.tab-lobby h3{
	animation: afterBegin 4s;
}
.button-menu-active{
	position: absolute;
    left: 7px;
    top: 3px;
    cursor: pointer;
    opacity: 0;
}
.nav{
	width: 110px;
	position: absolute;
	top: 30px;
	visibility: hidden;
}
.nav li{
	height: 20px;
	padding-left: 10px;
	list-style-type: none;
	background-color: #6B5D3F;
	border-bottom: 1px solid #000; 
}
.nav li a{
	text-decoration: none;
	color: #FFFFCC;
}
.nav li a:hover{
	color:#1C1711;
}
#color-title-li{
	color:#F1BE01;
	background-color: #3A3323;
}
.hide-list{
	position: relative;
	cursor: pointer;
}
.hide-list:before{
	content: "";
    position: absolute;
    height: 11px;
    width: 2px;
    left: 46%;
    top: 24%;
    transform: rotate(45deg);
    background-color: #000;
}
.hide-list:after{
	content: "";
    position: absolute;
    height: 11px;
    width: 2px;
    right: 46%;
    top: 24%;
    transform: rotate(-45deg);
    background-color: #000;
}
.bg-form{
	position: absolute;
}

.header{
	display: flex;
	justify-content: center;
}
.form-title{
	width: 267px;
	height: 50px;
	text-align: center;
	margin-top: 25px;
}
.form-title h5{
	text-align: start;
	border-bottom: 2px solid  #CBAC41;
}
.form-title h1{
	border-bottom: 2px solid #8F7D56;
}
.input-field{
	width: 69%;
    height: 78%;
    margin: 74px 50px 0px 60px;
    position: absolute;
}
.form-content{
	width: 89%;
	height: 320px;
	display: flex;
	justify-content: space-between;
	margin-top: 27px;
	padding: 20px 0 0 30px;
}
.form-content h2{
	margin-bottom: 20px;
}
input,select{
	border: 2px solid #CC9900;
}
.left-block{
	width: 281px;
	height: 100%;
}
.left-block form{
	margin-left:-10px; 
}
#email{
	margin:0 0 10px 40px;
}
.checkbox{
	display: flex;
	justify-content: space-between;
	background-color: #67634A;
}
#title-checkbox{
	margin-bottom: 0;
	align-self: center;
}
.left-block h2,.right-block h2{
	color: #F9EE71;
	font-weight: 100;
}
.container-check{
	position: relative;
	margin: 4px 7px 0 0;
}
.container-check input,.on-check-block,.radio-img,.radio-img-right,.off-check-block{
	width: 35px;
	height: 25px;
}
.off-check-block,.on-check-block{
	display: flex;
	align-items: center;
    justify-content: center;
	color:#fff;
	font-family: Alegreya;
	border-radius: 3px;
}
.on-off-block{
	display: flex;
    position: absolute;
    right: 0;
}
.on-check-block{
	background-color: #6D9B1A;
}
.off-check-block{
	background-color: #AA3E3E;
}

.radio-img,.radio-img-right{
	position: absolute;
	top: -2px;
	background-color: #B2AEA8;
	border: 2px solid #A79553;
    border-radius: 5px;
    cursor: pointer;
}
.radio-img-right{
	left:-37px;
}
.block-info{
	width:170px;
	height: 180px;
	display: flex;
	justify-content: space-between;
}
.block-info h4,form, h4,a,p{
	font: 100 16px Open Sans Condensed;
	color:#fff;
}
 h4{
	margin-bottom: 15px;
}
.left-block a{
	margin:10px 0 0 -10px;
	text-decoration-color:#9A7F20; 
}
.right-block{
	width: 47%;
	height: 100%;
}
.right-block p {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.country-title,#choose-state{
	width: 173px;
	text-align: start;
}
.hide{
	visibility: hidden;
}
footer{
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
button{
	width: 175px;
    height: 39px;
    border-radius: 7px;
    opacity: 0;
}
button:focus{
	outline: 0;
}
.toLobby{
    margin:0 12px;
}
.but-active{
    position: absolute;
    visibility: hidden;
	right: 3px;
    cursor: pointer;
    opacity: 0;
}
@keyframes begin{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
@keyframes afterBegin{
	from{
		opacity:0;
	}
	50%{
		opacity:0;
	}
	to{
		opacity:1;
	}
}


